---
interface Props {
  tags: Array<{ slug: string; label: string }>;
  class?: string;
}

const { tags, class: className } = Astro.props;
---

{tags.length > 0 && (
  <ul class:list={["tag-list", className]}>
    {tags.map((tag) => (
      <li>
        <a href={`/tag/${tag.slug}`} class="tag">{tag.label}</a>
      </li>
    ))}
  </ul>
)}

